@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #9999;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: #f3f3f3;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  padding: 30px 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #000000;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  font-size: 15px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: #333333;
}

#message {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #000000;
}

.show {
  background: #ffffff;
  color: #000000;
}

.blocked {
  background: #fff0f0;
  color: #d10000;
  font-style: italic;
}
